
*{
    margin: 0;
    padding: 0;
    font-family: 'UTM Avo','Roboto', sans-serif;
    
  }
  

  /*students section*/
.students{
  position: relative;
  background-color:#dfe8fe;
  overflow: hidden;
}
  .students .container {
    padding-top: 180px;
    max-width: 1300px;
  }

  .students .container h1 {
    margin-top: 170px;

  }

  .testimonial-quote {
    padding:20px;
}

.students .col-md-4 svg{
  position: absolute;
    width: 130px;
    margin-left: -150px;
    margin-top: 99px;
}

.students .col-md-4{
  padding-left:10%;
}

.second{
  display:none;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: rgb(0, 0, 0);
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box; 
}

.testimonial-quote blockquote p {
    color: #06114e; 
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;    
    text-shadow: none;
    z-index: -300;
}


.testimonial-quote cite {
    color: gray;
    display: block;
    font-size: .8em; 
}
  
.testimonial-quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white; 
}

.testimonial-quote {
    position: relative; 
}

.testimonial-quote .quote-container {
    padding-left: 160px; 
}
  
.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px; 
}

.testimonial-quote.right img {
    left: auto;
    right: 0;
}

.testimonial-quote.right cite {
    text-align: right; 
}

 /*project section*/

.projects{
  position: relative;
  background-color: #c8daff ;
  overflow: hidden;
}

.projects .container{
  padding-top: 30px;
}

.projects .container .row h3{
  color:#131274;

}

.projects .container .row .description{
  padding-left: 10%;
}

.graphic{
  margin-top: -70px;
  width:400px;
  margin-left: 120px;

}

.sat {
  max-width: 120px;
  transform: rotate(-15deg);
} 

.edu {
  padding-bottom: 20px;
  margin-top:-50px;
  max-width: 100px;
  transform: rotate(20deg);
  margin-right:-120px;
  float:right;
} 

/*---------------------------------------
    Waves section              
-----------------------------------------*/

#bubble{
    min-height: 100vh;
    position: relative;
    background-image: url("images/globe.png"), linear-gradient(#0c0b4a, #0e0d59);
    background-repeat: no-repeat;
    overflow:hidden;
}

.bubbles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  pointer-events: none;
}

.bubbles svg {
  position: relative;
  display: block;
  width: calc(200%);
  height: 80vh;
}

.bubbles .shape-fill {
  fill: #c8daff;
}
 
.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 168px;
}

.waves .shape-fill {
  fill: #c8daff;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.clouds svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
  transform: rotateY(180deg);
}

.clouds .shape-fill {
  fill: #dfe8fe;
}


  nav{
    padding-top: 30px !important;
    display: flex;
    height: 80px;
    width: 100%;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  nav .logo img{
    max-width: 110px;
    padding: 10px;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #dfddf8;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width:830px){
    nav{
        
      padding: 5px 40px 0 20px;
      padding-top: 2px !important;
    }
  }
  @media (max-width: 830px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
        
      position: fixed;
      top: 80px;
      left: -100%;
      background-color:#0c0b4a;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }

    .story nav ul{
      background: black;
    }

    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }

    nav .logo img{
        top: -20px;
        width: 80px;
      }

      .intro{
        padding-top: 200px;
        padding-left: 15%;
      }

      .bubbles{
        display:none;
      }

      .waves{
        display:none;
      }

      .clouds{
        display:none;
      }

      .graphic{
        display:none;
      }

      .sat{
        max-width: 90px;
        margin-top: 20px;
      }

      .edu{
        max-width: 70px;
        padding-top:50px;
        padding-bottom: 40px;
        margin-right:0;
      }

     .projects .col-6{
        padding-left: 10px !important;
        width:100%;
        overflow: hidden;
      }

      .students{
        padding-bottom:7rem;
      }

      .students .container{
        padding-top: 60px;
      }

      .students .container h1{
        margin: 25px;
      }
     
      .testimonial-quote .quote-container{
       padding: 10px;
      }

      .students .col-md-4 {
        padding-left: 0px !important;
       }
      
      
  }


  .intro{
    padding-top: 200px;
    padding-left: 70px;
  }
 
  .intro h1{
    font-weight: 550;
    color: #dfddf8;
  }

  .intro h3{

    color: #dfddf8;
  }
  
 
 @media (max-width: 767px){
  
  .second{
    display: block;
    margin-left: 30%;
  }
  .first{
    display:none;
  }
  .testimonial-quote .quote-container p{
    font-size: 20px;
   }

   .students .col-md-4 svg{
    display:none;
   }
 }
  

  
  /* Footer */
  footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background: #0c0b4a;
    color: #dfddf8;
    padding: 15px 0 30px;
    font-size: 13px;
    line-height: 20px;
    text-align: left;
  }
  .row-footer{
    margin-top: 108px !important;
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .col-footer{
    flex-basis: 25%;
    padding: 0px;
    margin-top: 20px;
  }
  .col-footer:nth-child(2), .col-footer:nth-child(3){
    flex-basis: 20%;
  }
  
  .footer-logo{
    max-width: 80px;
    margin-bottom: 20px;
  }
  .col-footer h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: initial;
  }
  .email-id{
    width: fit-content;
    border-bottom: 1px solid #dfddf8;
    margin: 20px 0;
  }
  footer ul li{
    list-style: none;
    margin-bottom: 8px;
  
  }
  footer ul li a{
    text-decoration: none;
    color: #dfddf8 !important;
  }
  footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfddf8;
    margin-bottom: 20px;
  }
  footer form .far{
    font-size: 18px;
    margin-right: 10px;
  }
  footer form input{
    width: 100%;
    background: transparent;
    color: #dfddf8;
    border: 0;
    outline: none;
  }
  footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  footer form button .fas{
    font-size: 16px;
    color: #dfddf8;
  }
  .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #dfddf8;
    margin-right: 15px;
    cursor: pointer;
  }
  hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #dfddf8;
    margin: 20px auto;
  }
  .copyright{
    text-align: center;
  }
  .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
  }
  .underline span{
    width: 15px;
    height: 100%;
    background: #dfddf8;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  
  .main-content.single p{
    font-size: 22px;
    font-weight: 10;
    line-height: 40px;
    padding: 10px;
  }
  
  @keyframes  moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
  }
  
  
  @media (max-width:830px){
    .footer{
      clear: both;
      position: relative;
     }
    .col-footer{
        flex-basis: 100%;
        
    }
    .col-footer:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    .col-footer:nth-child(2), .col-footer:nth-child(3){
      flex-basis: 100%;
    }
    .footer-logo{
      max-width: 80px;
      margin-bottom: 20px;
    }

    .row-footer{
     margin-top:0px !important;
    }
  }
  
  


/*about us section */

.story{
  min-height: 100vh;
  width: 100%;
  background-image: url('images/bannernew.png');
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.story hr{
  background-color: white !important;
}

.story-start {
  color: white;
  text-align: center;
  padding-top: 150px;
  background-color: transparent;
  pointer-events: none;

}

.story-start p{
  font-size: 20px;
  margin-left: 15%;
   max-width: 70%;
}

.timeline{
  background-color: #dfe8fe;
  padding-top:100px;
  padding-bottom: 120px;
}

.timeline-image-1{
  width: 90%;
  max-width: 550px;
  margin-left:7% !important;
  transform: rotate(-7deg);
  --b: 10px; /* control the size */
  padding: var(--b);
  border: calc(2*var(--b)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--b));
  background: conic-gradient(from 90deg at 1px 1px,#0000 90deg,#000 0);
}

.timeline .col-md-5 svg{
  width: 100%;
}

.present{
  padding-bottom: 120px;
  background-color: #dfe8fe;
}

.numbers{
  padding-top:60px;
}


.activities{
  padding-bottom: 120px;
  background-color: #dfe8fe ;
}

.activities img{
  width: 90%;
}

.activities p{
  margin-top: 20px;
}

.photos{
  background-color: #dfe8fe ;
  padding-bottom: 120px;
}

#highlight {
  color: #ea8478;
  font-size: 1.25rem;
}

.gallery {
  background-color: #dfe8fe ;
  padding: 0 0 4rem 0;
  overflow:hidden;
}

.img-container {
  width: 100%;
  max-height: 500px;
  cursor: pointer;
  overflow: hidden;
 
}

.img-container:hover .img-content-hover {
  display: block;
}



.gallery img {
	width: 100%;
  height: 500px;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  
}

.gallery img:hover {
  transform: scale(1.05);
}

.img-content-hover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: none;
  padding: 1rem;
  background: white;
  font-weight: 400;
  margin-top: 1.25rem;
  margin-left: -2rem;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.category {
  font-size: 1rem;
  color: gray;
}

.img-content {
  display: none;
}

.social, .copyright {
  margin: 1rem;
}

.social li {
  display: inline-block;
}


@media (max-width: 767px) {
  .story-start{
    padding-top: 90px;
  }
  .story-start p{
    font-size: 15px;
  }

  .story-start h2{
    margin-left:10%;
    width: 80%;
  }

  .activities .col-md-3{
width: 50%;
  }

}

@supports (display: grid) {
  .gallery .grid {
    grid-gap: 1rem;
  }
}


@media screen and (max-width: 1024px) {
  .gallery img:hover {
    transform: none;
  }
  
 .gallery .img-container {
    height: 100%;
    
  }

  .gallery .img-container :hover .img-content-hover
    {
    display: none;
  }


  .gallery .img-content {
    display: block;
    padding: 1rem 0;
  }
}


/*sat section*/

#sat{
  min-height: 100vh;
  position: relative;
  background-image: url('images/usa.png') ,linear-gradient(#0c0b4a, #0e0d59);
  background-repeat: no-repeat;
  background-position: bottom;
  overflow:hidden;
  color: #dfddf8;
}

.header{
  padding-top: 200px;
  color: #dfddf8;
}

.header h1{
  font-weight: 550;
  color: #dfddf8;
  font-size: 60px;
}

.header h5{
  color: #dfddf8;
  font-size: 17px;
}
.header h3{

  color: #dfddf8;
}

.header p{
  width:80%;
  max-width: 600px;
}


.reasons {
  padding-top: 120px;
  background-color: #dfe8fe ;
}

.reasons img{
max-width: 150px;
}

@media (max-width: 768px) {
  .header{
    margin-left: 5%;
  }

}


/* review section */

.reviews{
  padding-top: 120px;
background-color: #dfe8fe ;
}

.reviews img{
  width: 100%;
  max-width: 480px;
  padding:20px;
}

.reviews-container{
  padding: 30px;
}

.reviews-container .quote-container{
padding-left: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top: 32vh;
}

.prev{
  float:left;
}



/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  float: right;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 30px;
}

.active, .dot:hover {
  background-color: #717171;
}




@media only screen and (max-width: 770px){
  .slideshow-container img{
    width: 80%;
    text-align: left;
    margin-left:10%;
  }

.profile{
  margin-bottom:0;

}

.reviews-container{
margin-top: 0px;
padding-top: 0px;
}

.mySlides .quote-container, .testimonial-quote{
  padding-top: 20px;
  width:100%;
  padding:0px;
  margin: 0px;
  padding-bottom: 20px;
}

.mySlides p{
  margin-top: 22px;
  font-size: 18px !important;
}

}

/*course description */

.course-description{
  position: relative;
  background-color:#dfe8fe;
  overflow: hidden;
  padding-bottom: 150px;
}
  .course-description .container {
    max-width: 1300px;
  }

  .course-description .container h1 {
    margin-top: 170px;

  }

  .testimonial-quote {
    padding:20px;
}

.course-description .col-md-4 svg{
  position: absolute;
    width: 130px;
    margin-left: -150px;
    margin-top: 99px;
}

.course-description .col-md-4{
  padding-left:10%;
}


.model{
  margin-left: 25%;
  margin-top: 50px;
  padding: 30px;
  width: 50%;
}

@media (max-width: 767px){
  .model{
    width:100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .course-description .container h1 {
    margin-top: 60px;
}

.reviews .fas {
font-size: 1em;
}
}


/* events */

.events{
  min-height: 100vh;
  position: relative;
  background-image: url('images/city.png') ,linear-gradient(#0c0b4a, #0e0d59);
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  color: #dfddf8;
}


.events-info p {
  width: 100%;
  max-width: 500px;
}


.events-info{
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #dfe8fe ;
}

.events-info img{
  width: 90%;

}

.events-info p{
  width: 90%;
  padding-top: 10px;
}

.events-row {
  margin-top: 100px;
}

@media (max-width: 767px){
.header {
  padding-top: 150px;
}
}

@media (max-width: 1199px) {

  .events-info hr{
    margin-bottom: 10px !important;
  }

  .events-row{
    margin-top: 50px;
  }
  .events-info .col-md-6{
    padding-top: 80px;
      }

      .events-info{
        width: 100%;
        padding-left: 5%;
      }

      
}